<script type="text/template" id="profesorList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Años Experiencia</th>
		 <th>Número Publicaciones</th>
		 <th>Fecha Vinculación</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(profesors, function(profesor) { %>
    <tr>
		<td><%= htmlEncode(profesor.getDisplay('name')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('aniosExperiencia')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('numeroPublicaciones')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('fechaVinculacion')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-profesor-edit',{id:<%= profesor.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-profesor-delete',{id:<%= profesor.id %>}); return false" >Borrar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="profesor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-profesorForm">
    <% if(profesor.id) {%>
    <input type="hidden" name="id" value="<%= profesor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Escribir Nombre" value="<%= profesor.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="aniosExperiencia">Años Experiencia</label>
    	<input type="text" class="form-control" id="aniosExperiencia" name="aniosExperiencia" placeholder="Escribir años de experiencia" value="<%= profesor.get('aniosExperiencia') %>"/>	
		</div>
		<div class="form-group" >
		<label for="numeroPublicaciones">Número Publicaciones</label>
    	<input type="text" class="form-control" id="numeroPublicaciones" name="numeroPublicaciones" placeholder="Escribir Número de Publicaciones" value="<%= profesor.get('numeroPublicaciones') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaVinculacion">Fecha Vinculación</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVinculacion"  name="fechaVinculacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVinculacion').datepicker({autoclose:true});
        	$('#fechaVinculacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= profesor.get('fechaVinculacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script> 